*{
    margin: 0px;
    padding: 0px;
    font-family: Noto_serif;
}
@font-face {
    font-family: Noto_serif;
    src: url(../Noto_Serif/Noto_Serif/NotoSerif-Regular.ttf);
}

/* nav */
.nav{
    box-shadow: 10px 20px 50px rgba(0, 0, 0, 0.1);
}
.logo{
    width: 100px;
    height: 60px;
    margin-top: 15px;
    margin-left: 50px;
    margin-bottom: 10px;
}

.navbar{
    display: inline-block;
}

.nav ul {
    float: right;
}

.nav ul li{
    display: inline-block;
    margin-top: 30px;
    margin-right: 40px;
}

.nav ul li a{
    text-decoration: none;
    color: black;
}

.nav ul li a:hover{
    color: red;
}

.bunner_image{
    height: 400px;
    width: 100%;
}


.bunner_text{
    position: absolute;
    top: 200px;
    left: 120px;
    color: white;
    background-color: rgba(42, 40, 40, .6);
    padding: 30px;

}


.shop_now{
    padding: 10px;
    border-radius: 10px;
    outline: none;
    background-color: red;
    margin-top: 10px;
    border: 1px solid red;
}

.support{
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 20px;
    margin-left: 90px;
    margin-right: 90px;
    margin-top: 50px;
}
.support div{
    border: 1px solid gray;
    padding: 20px;
    border-radius: 5px;
    padding-left: 90px;
    
}
.support div p{
    display: inline-block;
    padding: 10px;
    border-radius: 5px;
}
 
.support div p span{
    color: gray;
}


/* promotion */

.title{
    margin-top: 50px;
    margin-left: 90px;
    font-weight: unset;

}

.abcd{
   width: 160px;
   margin-left: 90px;
   border: 2px solid red;
}

.promotion_item div{
    height: 200px;
    width: 200px;
    /* padding: 20px; */
    margin-left: 50px;
    margin-right: 50px;
    border: 2px solid red;
    box-shadow: 5px;

}
 .promotion_item {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-column-gap: 20px;
    margin-left: 50px;
    /* margin-right: 50px; */
    padding: 20px;
    

 }
 .promotion_item div img{
    width: 200px;
    height: 200px;
    
 }
 .discount{
    position: relative;
    bottom: 205px;
    left: 130px;
    font-size: small;
    color: red;
 }
   